@import "../Input/Input.scss";
@import "../Dropdown/Dropdown.scss";

.scotch-select--input{
  @extend .scotch-input--container;
  cursor: pointer;
}

.scotch-select-selected-value{
  flex: 1;
}

.scotch-select--input-icon{
  @extend .scotch-input--icon;
}

.scotch-select-selected-value--placeholder{
  color: var(--darkGrayColor);
  &:empty::after{
    content: ".";
    visibility: hidden;
  }
}

.scotch-select-dropdown--container{
  @extend .scotch-dropdown--container;
  max-height: 200px;
  overflow-y: auto;
  gap: 4px;
}

.scotch-select-dropdown--item{
  @extend .scotch-dropdown--item;
}

.scotch-select-multi-dropdown--item{
  @extend .scotch-select-dropdown--item;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  box-sizing: border-box;
  height: 30px;
}

.scotch-select-multi-dropdown--item-value{
  flex: 1;
}

.scotch-select-container{
//  .trigger{
//    width: 100%;
//  }
  width: 100%;
}

.scotch-select--input-input{
  @extend .scotch-input;
  width: 100%;
}

.scotch-select--selected {
  background-color: var(--primaryColor);
}

.scotch-select-multi-input--list{
  @extend .scotch-chip-input--list;
}
