@import "../style";

.scotch-select-simple{
  @extend ._scotch-select-container;
}

.scotch-select-simple-input{
  @extend ._scotch-select-input;
}

.scotch-select-simple-popover{
  @extend ._scotch-select-popover;
}

.scotch-select-simple-input-value{
  flex: 1;
}

.scotch-select-simple-popover-item{
  @extend ._scotch-select-popover-item;
}

.scotch-select-simple-icon-reset{
  &:hover{
    color: var(--scotchDangerColor);
  }
}

.scotch-select-simple-input-placeholder{
  color: darkgray;
}