.scotch-form-grid{
  margin-top: 10px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
}

.scotch-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}