
:root{
  --scotchBorderRadius: 4px;
  --scotchPrimaryColor: #00b96b;
  --scotchDangerColor: #D7263D;
  --scotchHoverBackground: #f4f4f4;
  --scotchSelectedBackground: #b9b9b9;
  --scotchBackgroundColor: white;
}