@import "../style";
@import "../../Chips/StringChipsInput/StringChipsInput";

.scotch-select-simple{
  @extend ._scotch-select-container;
}

.scotch-search-select-multi-input{
  @extend ._scotch-select-input;
  input{
    border: none;
    width: 100%;
    outline: none;
  }
  &:hover{
    input{
      background-color: var(--scotchHoverBackground);
    }
  }
}

.scotch-search-select-multi-input-value{
  flex: 1;
}

.scotch-search-select-multi-popover{
  @extend ._scotch-select-popover;
}

.scotch-search-select-multi-popover-item{
  @extend ._scotch-select-popover-item;
  display: grid;
  grid-template-columns: auto 20px;
  gap: 5px;
  align-items: center;

  &[data-selected=true]{
    background-color: var(--scotchSelectedBackground);
  }

  &:not(:first-child){
    margin-top: 2px;
  }
}

.scotch-search-select-multi-container{
  width: 100%;
  .scotch-chip-list{
    margin-top: 5px;
    padding: 0;
  }
}